div.floatR img {
  float: right;
  width: 30%;
  height: 30%;
}
div.bigImg img {
  width: 80%;
  height: 80%;
}
/* https://chrispennington.blog/blog/add-styling-to-keyboard-keys-css/ */
kbd {
  border: 2px solid #000000; 
  box-shadow: 2px 2px #000000; 
  font-size: .85em; 
  line-height: .85em; 
  display: inline-block;
  font-weight: 600;
  letter-spacing: .05em; 
  padding: 3px 5px;
  white-space: nowrap;
}
div.sudoku table {
  border-collapse: collapse;
  table-layout: fixed;
  border-left: 1.5px solid #000000;
  border-top: 1.5px solid #000000;
  font-size: 0.6em;
  font-family: monospace;
  text-align: center;
  line-height: 1em;
}
div.sudoku table td {
  width: 1em;
}
div.sudoku table tr:nth-child(3n) {
  border-bottom: 1.5px solid #000000;
}
div.sudoku table td:nth-child(3n) {
  border-right: 1.5px solid #000000;
}
div.sudoku table tr:nth-child(3n-1), div.sudoku table tr:nth-child(3n-2) {
  border-bottom: 0.7px dashed #888888;
}
div.sudoku table td:nth-child(3n-1), div.sudoku table td:nth-child(3n-2) {
  border-right: 0.7px dashed #888888;
}
div.tbvtop table td {
  vertical-align: top;
}
div.tbdef table td {
  line-height: 1.6;
}
div.tbdef table td img {
  max-width: 100%;
  width: auto;
  height: 15ex;
}
div.tbdef1 table td img {
  max-width: 100%;
  width: auto;
  height: 25ex;
}
.dom {
  color: blue;
}
.codom {
  color: red;
}
.rng {
  color: green;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 80%;
  height: 80%;
}
